## Noisy reference tree construction

In [2]:
from NOISY_reference_tree_construction_functions import *
import mysql.connector as mariadb
from ete3 import Tree, TreeNode
import pandas as pd
import pandas as pd
import polars as pl
import numpy as np
import fileinput
import random
import time
import os
import re

## Reference tree construction for every group in a loop

In [3]:
#tax level and group name
#of group for main level (kingdom)

#define path to input and output
PATH_nodes = "/data/DBs/Taxonomy/13-05-2022/nodes.dmp"
PATH_speclist = "/data/DBs/Uniprot/speclist.txt"
PATH_TO_OUTPUT = "/data/ruslan_gumerov/reference_trees/"

#define lists for iteration
group_names_list = ["actinobacteria", "archaea", "proteobacteria", "fungi", "metazoa", "viridiplantae"]
parental_tax_list = ["phylum", "superkingdom", "phylum", "kingdom", "kingdom", "kingdom"]
parental_tax_id_list = ["201174", "2157", "1224", "4751", "33208", "33090"]
aggregation_tax_list = ["genus", "species", "genus", "family", "order", "genus"]

if __name__ == "__main__":
    for group, parental_tax_level, parental_tax_id, aggregation_tax_level in zip(group_names_list,
                                                                                parental_tax_list,
                                                                                parental_tax_id_list,
                                                                                aggregation_tax_list):
        df_nodes_with_parents = nodes_indexation(PATH_nodes)
        #get dataframe tax_id <-> mnemonics
        taxid_to_mnemonics_df = taxid_to_mnemonics_species(PATH_speclist, 59)
        #get dataframe tax_id <-> parent_tax_id <-> tax_level
        #for all species in parent_tax_level
        mariadb_connection = mariadb.connect(user="ruslan_gumerov",
                                         password="",
                                         database="swisspfam",
                                         unix_socket="/run/mysqld/mysqld.sock")
        swisspfam_mnemonics = get_table_names(mariadb_connection) 
        taxid_to_mnemonics_df.query("mnemonic in @swisspfam_mnemonics", inplace = True)
        taxid_to_mnemonics_df[parental_tax_level] = taxid_to_mnemonics_df.index.to_series().apply(find_tax_level_for_tax_id,
                                                                              input_df_taxonomy = df_nodes_with_parents,
                                                                              desired_level = parental_tax_level)
        taxid_to_mnemonics_df = taxid_to_mnemonics_df[taxid_to_mnemonics_df[parental_tax_level] == parental_tax_id]
        taxid_to_mnemonics_df[aggregation_tax_level] = taxid_to_mnemonics_df.index.to_series().apply(find_tax_level_for_tax_id,
                                                                              input_df_taxonomy = df_nodes_with_parents,
                                                                              desired_level = aggregation_tax_level)
        taxid_to_mnemonics_df.dropna(inplace=True)

        tree_df = tree_dataframe_construction(df_nodes_with_parents, taxid_to_mnemonics_df[aggregation_tax_level])
        tree_df.insert(0, -1, tree_df.index)
        tree_df.columns = [x for x in range(0,tree_df.shape[1])]
        with open(f"{PATH_TO_OUTPUT}{group}_{aggregation_tax_level}_tree.nwk", "w") as outf:
            newick_tree = ete3_tree_from_df(tree_df)
            print(newick_tree)
            #outf.write(newick_tree)
        print(f"{PATH_TO_OUTPUT}{group}_{aggregation_tax_level}_tree.nwk")
        mariadb_connection.close()

             0      1     2       3        4  5       6  7
tax_id
1269      1268  85006  1760  201174  1783272  2  131567  1
1573     85023  85006  1760  201174  1783272  2  131567  1
1645      1268  85006  1760  201174  1783272  2  131567  1
1663      1268  85006  1760  201174  1783272  2  131567  1
1678     31953  85004  1760  201174  1783272  2  131567  1
...        ...    ...   ...     ...      ... ..     ... ..
1742992   1268  85006  1760  201174  1783272  2  131567  1
1742993   1268  85006  1760  201174  1783272  2  131567  1
1866885   1762  85007  1760  201174  1783272  2  131567  1
1912215  31957  85009  1760  201174  1783272  2  131567  1
1912216  31957  85009  1760  201174  1783272  2  131567  1

[84 rows x 8 columns]
((((((((1269,1645,1663,32207,57493,1742989,1742992,1742993),(1573,33882,110932),(1696),(1707),(2038),(13242),(43668),(43673),(53357),(60919),(84756),(157920,186188,254250)),((1678,2701,196081,196082)),((1716),(1763,697025,1073531,1866885),(1817,1827),(2053),(2060),(286801)),((1743,29404,1912215,1912216),(1839,2044),(182639)),((1813,1835,1847,1851,2016,2029,2071,40566,165301)),((1854)),((1860,38501)),((1865,1873,168694)),((1883,2063,228398)),((2000,147067),(2013,83677),(2019)),((2050,28263)),((28048)),((33981)),((53460)),((283810)),((414878))),(((33870),(133925)),((84108,84111,84162))),(((42255))),(((53634),(682522))),(((191494)),((192992))))))));
/data/ruslan_gumerov/reference_trees/actinobacteria_genus_tree.nwk
               0        1        2        3        4        5       6       7  \
tax_id
2176        2175     2206    94695   224756  2290931    28890    2157  131567
2180        2179     2178     2158   183925  2283794    28890    2157  131567
2188        2184     2183     2182   183939  2283794    28890    2157  131567
2189      196119   196117     2182   183939  2283794    28890    2157  131567
2190      196118   196117     2182   183939  2283794    28890    2157  131567
...          ...      ...      ...      ...      ...      ...     ...     ...
1175445   570266   570265   570264   224756  2290931    28890    2157  131567
1200300   477695     2272   114380   183924    28889  1783275    2157  131567
1291540  1291539  2517203  1235850   183967  2283796     2157  131567       1
1294122  1996557  1890942  1890940  2885752   192989  1783276    2157  131567
1406512  1080709  1577788  1235850   183967  2283796     2157  131567       1

         8
tax_id
2176     1
2180     1
2188     1
2189     1
2190     1
...     ..
1175445  1
1200300  1
1291540  1
1294122  1
1406512  1

[100 rows x 9 columns]
(((((((((2176),(2209,2214),(2221),(2322),(29291),(39669),(101192))),(((2203)),((54120),(83986)),((83984)),((358766,882104),(475088))),(((2223,2224,301375))),(((570267,1175445)))),((((2238),(2257,416273),(57705)),((2242),(413810)),((2250))),(((2246),(60847),(293091)),((63740))),(((13769,64602),(44930),(62320),(69525),(387341),(387343)))),(((889948)),((889962)),(1072681))),(((((2180)),((2317),(83816),(145262),(877455)))),((((2188,39152,42879)),((2189),(2190))))),((((2234,58290,84156),(54261)))),((((2261),(55802,172049,311400)))),((((2320))))),((((((2269))),(((2271),(13773),(76887),(164451))),(((2280),(54254),(56636),(94694),(160233),(334771),(1200300)),((2309),(54248),(54252))),(((2285),(2287),(43687),(111955),(563177))),(((200415)),((242703))),(((683846))))),(((((497727)))),(((46770))),(((338192))),((311458))),((498846))),((((((160232)),((1294122))))),(((((662757))))),((662759,662761))),(((((2303)),((82076)),((97393)),(1054217)),(((1291540)),((1406512)))),((379547))))));
/data/ruslan_gumerov/reference_trees/archaea_species_tree.nwk
               0        1      2      3     4       5       6  7  8  9
tax_id
6         335928      356  28211   1224     2  131567       1  1  1  1
10       1706371  1706369   1236   1224     2  131567       1  1  1  1
18        213421    69541  28221  68525  1224       2  131567  1  1  1
20         76892   204458  28211   1224     2  131567       1  1  1  1
22        267890   135622   1236   1224     2  131567       1  1  1  1
...          ...      ...    ...    ...   ...     ...     ... .. .. ..
2822410      403   135618   1236   1224     2  131567       1  1  1  1
2904687   213119   213118  28221  68525  1224       2  131567  1  1  1
2904716  2904715   213118  28221  68525  1224       2  131567  1  1  1
2910589   213422    69541  28221  68525  1224       2  131567  1  1  1
2919364      433   204441  28211   1224     2  131567       1  1  1  1

[298 rows x 10 columns]
((((((((((203804),(568987))),(570),544,547,561,590,620,702,401618,1048757,1330546,1335483,1903434,2055880),(551,32199,51228,53335),(568,635),(581,583,626,29487),(613,629,34037),(122277,204037)),(((114185),2745,42054),(965,28253,188907),(59753),(158481)),((10,2425,316625,447467)),((22),(28228,1518149),(44011),(53246),(67572),(89404,261825),(135575)),((68,338,2370,40323,83618),(70411)),((262),(1030),(1237,28884,34067,40222)),((286)),((413,416,429,39773,2822410)),((445,465),(776)),((469,475,497)),((642,43947,129577),(674963)),((657,662,246861,511678)),((713,724,745,214906,292486,476528)),((869,2717)),((1051,85108,106633,133193),(1227,13724,85072,85076),(109262)),((180541)),((261963)),((469322)),((1335631)),((1541743),265980)),(((((32,83461),(40),(161492)),((50,39643)),((162027))),((18,890,57039),(28231,2910589)),((872,35832,41707,2035811,2582840),(898),(45662)),((896,28222,218207,2904687),(53318,109168),(427922),(2904716)),((2357,43773,60892)),((29526)),((84404)),((453229))),(((194),(209,843),(28196),(57665),(202746,286130),(265570,269260)),((191291),(269258)))),((((234),13159),((357,379),(28105,106591),34019,323620),(6,279,152053),(81,1068),(133),(374,911,1073),(407,2282523),(532,120652),(773),(59282),(68287,93368,274591,449972),(182269),(256616),(643217),(1082930)),(((780,69474)),((953),768,943,33993),(411566)),(((1041)),(541),(13687,165695,165696,165697),(335405)),((20,75,41275,76890)),((85,2723)),((191),(434,441,522,1070,34000,89583,364409,1434011,2919364),(1081,13134,171436,1612157),(1182780)),((265,1060,34008,991903,1679449),(2433,74030,92944,97050,188905,252301,263377,302485,309512,335927)),((44747)),((74317)),((85273)),((162171)),((198251)),((208215)),((767891),213485)),((((535),168470,568394),(59,482,334108)),((88,28067,32012,36862,316612),(283,12916,28065,34072,52972,80865,174951,201096,335058,364316),(517,29574,290425,305976,359336),(846,963,202907,303379,884214),(32008,44013,48736,106589,1822464,2571159,2571160)),((96,314343),(404,81682,359407),(914,35798),(919),(935200)),((349,12960,33057),(1064,146937,551759)),(189384,327159)),(((958)),((1652133))),(((70774))),(((119977)))))));
/data/ruslan_gumerov/reference_trees/proteobacteria_genus_tree.nwk
              0        1        2        3       4       5       6       7  \
tax_id
4806       4805   451460  2683660   451459  112252    4751   33154    2759
4851       4827  2212703   451507  1913637  112252    4751   33154    2759
4862       4861  2219690   451828  1913638  112252    4751   33154    2759
4883      61421  2219693   451828  1913638  112252    4751   33154    2759
4893       4892     4891   147537   716545    4890  451864    4751   33154
...         ...      ...      ...      ...     ...     ...     ...     ...
2028217    5303   355688   155619     5302    5204  451864    4751   33154
2528436  639021   222544   147550   715989  716546  147538  716545    4890
2609812    5139   222544   147550   715989  716546  147538  716545    4890
2793945    5178   147548   715989   716546  147538  716545    4890  451864
2907085    5178   147548   715989   716546  147538  716545    4890  451864

              8       9     10      11      12 13 14
tax_id
4806     131567       1      1       1       1  1  1
4851     131567       1      1       1       1  1  1
4862     131567       1      1       1       1  1  1
4883     131567       1      1       1       1  1  1
4893       2759  131567      1       1       1  1  1
...         ...     ...    ...     ...     ... .. ..
2028217    2759  131567      1       1       1  1  1
2528436  451864    4751  33154    2759  131567  1  1
2609812  451864    4751  33154    2759  131567  1  1
2793945    4751   33154   2759  131567       1  1  1
2907085    4751   33154   2759  131567       1  1  1

[126 rows x 15 columns]
(((((((((((((((5020,28556,34374,683158),281124)),((45131)),((93133,668547),(1570301)))),((((5129,34397,110618,474942,474943,1667166),(5593,1028423),(681950,1033978)),((5148,35718,2609812),(5152),(81093,2528436)),((37990,42364,1812776))),((5181,28983,2793945,2907085),(34371),(34379))),(((28568,1131492,1131624),(33184,34384,299071)),((43219),(146292))),((1217822))),((5189,40289)),((47021))),((((27319,766764),4893,29827,34353,34365,115784,1156497)))),(((4894)),((5009,27330)),((29824)),((44281)))),((((((5394),(80634,389951),(227329)),(5332,5339,5351,40562,41954,72117,80649,104366,184208,654128,862241,930979),(80628),(721957)),((5227,34426),(5250),(5317,396331,1769247,2028212,2028214,2028216,2028217),(40420,103376),(40424),(452340),(908827),(1506295)),((68784))),((5215,1884633),(1759442)),((5254))),(((5259,5262)),((55071),(1799696)),((165795))),(((5268)),((62919)),((742845))),(((431959))))),((((((34489,1344955),4851,37566,1344966))),(((36751)))),((((4806)))),((((4862)),((4883))),(((34486)))),((((29007)),((34479)),((109943)))),((27970,27974,36734,227310),(35232),(322152))))))));
/data/ruslan_gumerov/reference_trees/fungi_family_tree.nwk

              0     1       2        3        4       5       6        7   \
tax_id
6049     1779146  6042    6040    33208    33154    2759  131567        1
6103        6102  6101    6073     6072    33208   33154    2759   131567
6125        6102  6101    6073     6072    33208   33154    2759   131567
6180        6179  6178    6157  1206795  2697495   33317   33213     6072
6193        6179  6178    6157  1206795  2697495   33317   33213     6072
...          ...   ...     ...      ...      ...     ...     ...      ...
2507557    30302  7712    7711    33511    33213    6072   33208    33154
2558200     8825  8782  436492   436491   436489  436486    8492  1329799
2682553  2682552  7735    7711    33511    33213    6072   33208    33154
2785018     7674  7638    7625     7624   133551    7586   33511    33213
2899670  2899756  6676    6675   116172  2172821    6657  197562   197563

            8       9   ...    19     20     21    22     23     24    25  \
tax_id                  ...
6049         1       1  ...     1      1      1     1      1      1     1
6103         1       1  ...     1      1      1     1      1      1     1
6125         1       1  ...     1      1      1     1      1      1     1
6180     33208   33154  ...     1      1      1     1      1      1     1
6193     33208   33154  ...     1      1      1     1      1      1     1
...        ...     ...  ...   ...    ...    ...   ...    ...    ...   ...
2507557   2759  131567  ...     1      1      1     1      1      1     1
2558200  32561    8457  ...  7711  33511  33213  6072  33208  33154  2759
2682553   2759  131567  ...     1      1      1     1      1      1     1
2785018   6072   33208  ...     1      1      1     1      1      1     1
2899670   6656   88770  ...     1      1      1     1      1      1     1

             26 27 28
tax_id
6049          1  1  1
6103          1  1  1
6125          1  1  1
6180          1  1  1
6193          1  1  1
...         ... .. ..
2507557       1  1  1
2558200  131567  1  1
2682553       1  1  1
2785018       1  1  1
2899670       1  1  1

[119 rows x 29 columns]
(((((((((((((((((((((((((((((8826,8976),(8892,8902),8906,8929,8936,9108,9126,9205,9214,9219,9223,9230,30411,30416,30447,30449,30458,56301,56308,57379,57384,1956187,2558200),(8798,8802)))))),1294634),(8459)),(8509))),((((((9975,9989),9392,9443),(9362,9397,9787,33554,91561)),(9774,9779)),(38605,38608,38609)),(9255))),((8342),8445))),(7894)),(((((((((((((((28738,76071),(1489911),(1489921)),(8111,31022,1489928,1489931),(8252,1489907),(1489900))))))),(8006,8007)),((((7952),(7991,7995,8002)),(29140)),(32446))),((41712)))),(7914)),(7899))))),(((((30483,30503)))),(7864))),((7745)))),((7716),(2507557)),((2682553))),((((((2785018))),((7682)))))),(((((((((((((7088),7041,7147,7399),((85819),7524,30262),((85823)))))),(730330)),((((((41212)))),((((2899670)))),(((6683),(29979)))),((84337)))),((((60154))))),((((6935),(83136,83137)),6893))),((149990))),(((6329)),(6236,6308))),((((((6546,6562,106218))),(((6638))),((75116))),(((6180,6193,27871)),((6201,1224679))),(((6406))),(((7570)))),(((((84394)))))))),(((6103,6125)),((35583)))),(((6049))))))));
/data/ruslan_gumerov/reference_trees/metazoa_order_tree.nwk
              0       1        2        3        4        5        6   \
tax_id
2706     1728959   23513    41937    91836    71275  1437201    91827
3052        3051    3042  2812636     3166  2692248     3041    33090
3066        3065    3042  2812636     3166  2692248     3041    33090
3071     2511126   35461    35460    75966  2692248     3041    33090
3174        3173    3172   131220    35493    33090     2759   131567
...          ...     ...      ...      ...      ...      ...      ...
91192       3086   35491  2812636     3166  2692248     3041    33090
93758    1563254  214908     3629    41938    91836    71275  1437201
98005     981100    3700     3699    91836    71275  1437201    91827
191392     35461   35460    75966  2692248     3041    33090     2759
1502711    41399    4143    91888    71274  1437201    91827    71240

              7        8        9   ...      15     16      17      18  \
tax_id                              ...
2706       71240  1437183     3398  ...   35493  33090    2759  131567
3052        2759   131567        1  ...       1      1       1       1
3066        2759   131567        1  ...       1      1       1       1
3071        2759   131567        1  ...       1      1       1       1
3174           1        1        1  ...       1      1       1       1
...          ...      ...      ...  ...     ...    ...     ...     ...
91192       2759   131567        1  ...       1      1       1       1
93758      91827    71240  1437183  ...  131221  35493   33090    2759
98005      71240  1437183     3398  ...   35493  33090    2759  131567
191392    131567        1        1  ...       1      1       1       1
1502711  1437183     3398    58024  ...   33090   2759  131567       1

             19 20 21 22 23 24
tax_id
2706          1  1  1  1  1  1
3052          1  1  1  1  1  1
3066          1  1  1  1  1  1
3071          1  1  1  1  1  1
3174          1  1  1  1  1  1
...         ... .. .. .. .. ..
91192         1  1  1  1  1  1
93758    131567  1  1  1  1  1
98005         1  1  1  1  1  1
191392        1  1  1  1  1  1
1502711       1  1  1  1  1  1

[93 rows x 25 columns]
(((((((((((((((((((((((((3826),(3877,3898))),((3820,3846,3883,3913))),(((3817))),(((3869))))))),((((3749),(3754)),((3764))),((72171)),(3475,3479)),((((3980),(3982),(3995)),((3987))),((3689))),(((3655),(3660),(3671))),((3774)),((16718))),(((((3932))),(22662)),((((93758)),(3633,47605),(3640),(66655))),(((2706))),(((3701),(3705,3725),(50451),(98005)))),((((3603))))),((((((((4038)))))),(((((4219)),((4231))),(((4235))),(((4264)))))),(((((((13442)))))),(((((21880)))),((4169)),(4181),(1502711)),((((4071),(4107)),((4085))),((4119)))),((3624),(4441))),((((3561)),(3554)))))),((((((((((4480,4564),(4512))),((15367))),(((4527)))),(((((4539),(4554))),(((4557),(4575)))))),((4614))),(((((51952))),((4719)))),((4638,4640))),(((4685)))),((27257))),(((3450)),((3468))),((4430))),((13332))),((((((3328)))))))),(((3246)))),((((((37414)))))),(((((3196)))))),(((13778)))),(((3174)))),((((((3052),(3066,33096),(44744)),((91192)))),((((3071),191392)),((41891)))),(((38832),(70447))))))));
/data/ruslan_gumerov/reference_trees/viridiplantae_genus_tree.nwk